html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
body {
    background:#E6E8F0;
    /*width: 100vw;
    height: 100vh;*/
    /*overflow-x: hidden;*/
    margin: 0;
    padding: 0;
}
#fixed-button {
    position: fixed;
   /* float: right;*/
    /*margin-top: 85%;
    margin-left: 600px;*/
    top: 90vh;
    left: 85vw;
    right: 0;
    transform: translate(-50%, -50%);
    margin-right: 100px;
    width: 50px;
    height: 50px;
    border: 2px solid black;
    border-radius: 50%;
    z-index: 50;
}
#contact-button-box {
    float: right;
    position: relative;
    display: block;
    margin-top: 35.5vh;
    margin-right: 10px;
    
    z-index: 50;
}
div.contact-button {
    /*display: flex;
    justify-content: right;*/
    text-align: right;
    align-items: right;
    width: 180px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 15px;
    margin-bottom: 10px;
    box-shadow: 6px 4px 10px 0px rgba(0, 0, 0, 0.5);
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(15px);
    clip-path: circle(18% at 84% 43%) ;
    transition: clip-path 0.4s;
}

div.contact-button:hover {
    clip-path: circle(75%);
}

div.contact-button p {
    /*text-align: right;*/
    display: inline;
    font-family: 'Nunito', sans-serif;
    padding-right: 10px;
    padding-left: 30px;
    padding-top: 10px;
    font-size: 1.5rem;

}
div.contact-button img {
    /*line-height: 20px;
    margin-top: 15px;*/
    padding-bottom: 10px;
    padding-right: 15px;
    vertical-align: middle;
}
#bg-blob {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 110%;
    z-index: 0;
    overflow: hidden;
}
#planet {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-30deg);
    /*height: 75vh;
    width: 75vw;*/
    height: 70%;
    width: 70%;
    z-index: 5;
}


#ocean {
    top: 0;
    left: 0;
    position: relative;
    /*background:;*/
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    /*z-index: 1;*/
    overflow: hidden;
}
#hello-text {
    position: relative;
    height: 165px;
    width: 220px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 10px;
    top: 15%;
    left: 20%;
    /*right: -70%;*/
    /*margin-left: 200px;
    margin-top: 40px;*/
   /* z-index: 14;*/
    background: rgba(255, 255, 255, 0.6);
    font-family: 'Nunito', sans-serif;
    backdrop-filter: blur(15px);
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
    z-index: 20;
    visibility: visible;
    transition: transform 0.6s;
    -webkit-font-smoothing: antialiased;
}
#waving-hand {
    display: inline;
    padding-right: 18px;
    padding-top: 15px;
    height: 70px;
    width: 70px;
    /*animation-name: wave-it;
    animation-duration: 1s;*/
    
}
#hello-text:hover {
    transform: scale(1.1,1.1) translateZ(0);
    
}
#hello-text:hover #waving-hand {
    animation-name: wave-it;
    animation-duration: 0.8s;
}
#hello {
    /*width: 50px;*/
    /*position: relative;*/
    /*margin-bottom: 10px;*/
    /*margin-top: 2px;*/
    /*width: 1%;*/
    /*float: right;*/
    /*clear: both;*/
    /*justify-content: end;*/
    /*width: -2rem;*/
    display: inline;
    font-size: 2rem;
    /*text-align: right;*/
    /*line-height: 10px;*/
    vertical-align: middle;
    /*padding-right: 30px;*/
    padding-top: 25px;
}
span {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
#my-desc {
    display: inline;
    flex-wrap: nowrap;
    position: absolute;
    font-family: 'Nunito', sans-serif;
    width: 280px;
    /*height: 500px;*/
    font-size: 1.3rem;
    margin-top: 0;
    z-index: 20;
}
#my-desc b {
    display: inline;
}
nav {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
    /*backdrop-filter: blur(10px);*/
    
}
div.nav-button {
    width: 230px;
    display: flex;
    backdrop-filter: blur(10px);
    font-family: 'Nunito', sans-serif;
    margin: 8px;
    font-size: 2.3rem;
    /*padding: 10px;*/
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.6);
    box-shadow: 3px 5px 10px 0px rgba(0, 0, 0, 0.8);
    transition-property: transform, margin;
    transition-duration: 0.3s;
    /*transition: transform, margin, transform padding 0.4s;*/
    
}
div.nav-button:hover {
    transform: scale(1.1, 1.1) translate(0px, -15px);
   /* background: rgba(70, 8, 212, 0.6);*/
    margin-left: 25px;
    margin-right: 25px;
}
img.icons {
    /*vertical-align: middle;*/
    padding-left: 10px;
    padding-top: 15px;
   /* width: 60px;
    height: 60px;*/
}

li.nav-box {
    list-style-type: none;
    margin: 10px;
    font-family: 'Nunito', sans-serif;
    font-size: 2rem;
    /*padding: 15px;*/
    display: inline;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 3px 5px 10px 0px rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(15px);
    z-index: 30;
    /*-webkit-font-smoothing: antialiased;*/
}
a {
    /*vertical-align: middle;*/
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    text-decoration: none;
    color: black;
}

/* ------------------------------------------skills page----------------------------------------------------------------*/

#skills {
    position: relative;
    width:auto;
    min-height: 100vh;
    height: auto;
    /*background: #91BEBA;*/
    overflow: hidden;
}
#skill-heading {
    position: absolute;
    
    top: 2%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Nunito', sans-serif;
    font-size: 4rem;
}
#skill-blob {
    position: absolute;
    top: 8vh;
    margin-left: -8vw;
    /*left: -15vw;*/
    z-index: 5;
}
#skill-img {  
    position: absolute;
    margin-left: 2vw;
    top: 20%;
    left: 0;
    z-index: 10;
}
/*#skill-name-box {
    position: relative;
    /*margin-left: 65%;
    margin-right: 10%;
    /*align-self: flex-end;
    padding-right: 40px;
    width: 100vw;
    /*height: 80vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 150px;
    z-index: 50;
}*/
#skill-name-box {
    margin-top: 20vh;
    /*margin-left: 5px;
    margin-right: 5px;*/
}
div.skill-row {
    position: relative;
   /*width: 80%;
    padding-bottom: 20px;
    padding-right: 100px;
    /*margin-top: 10%;*/
    margin-left: 50%;
    /*margin-right: 30px;*/
    display: flex;
    max-width: 40vw;
    /*height: 50vh;*/
    justify-content: center;
    flex-wrap: wrap;
    /*flex-shrink: 3;*/
    /*justify-content: center;*/
    font-family: 'Nunito', sans-serif;
    font-size: 2rem;
    z-index: 40;
    
}


p.my-skills {
   /*+ width: fit-content;*/
    margin-bottom: 5px;
    margin-top: 8px;
    margin-left: 8px;
    margin-right: 8px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    box-shadow: 3px 5px 10px 0px rgba(0, 0, 0, 0.5);
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(15px);
    cursor: pointer;
}
.my-resume {
    vertical-align:middle;
    position: relative;
    margin-left: 50%;
    font-family: 'Nunito', 'sans-serif';
    font-size: 1.5rem;
    z-index: 30;
}
span.my-resume{
    margin-top: 15px;
    height: 100px;
    width: 40vw;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}
span.my-resume p {
    padding-right: 10px;
    margin-bottom: 12px;
    margin-top: 12px;
    
}
#cv-btn {
    
    font-size: 1rem;
    height: 50px;
    color: white;
    background: rgb(13, 175, 13);
    padding-left: 15px;
    padding-top: 0;
    padding-right: 15px;
    border-radius: 10px;
    border: none;
    /*box-shadow: inset 0 2px 0 0 rgb(255 255 255 / 40%);*/
    box-shadow: 0px 5px 0 0 rgb(6, 126, 6);
    cursor: pointer;
}
input.btn:hover {
    background-color: rgb(51, 177, 51) !important;
}
input.btn:active {
    box-shadow: 0px 0px 0px 0px;
}

div.skill-info-popover {
    position: absolute;
    width: 30vw;
    height: 65vh;
    top: 20vh;
    left: 15vw;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.6);
    box-shadow: 5px 3px 10px 0px rgba(0, 0, 0, 0.5);
    z-index: 40;
    backdrop-filter: blur(15px);
    display: none;
    
}
p.my-skills:active div.skill-info-popover {
    visibility: visible;
}
div.skill-info-popover img {
    
    position: absolute;
    left: 87%;
    top: 2%;
    cursor: pointer;
}
#popover-heading {
    font-family:'Nunito', sans-serif;
    font-size: 2rem;
    /*margin-left: auto;
    margin-right: auto;*/
    text-align: center;
}
div.progress-box {
    background: rgba(177, 173, 173, 0.8);
    box-shadow: inset 0 0 10px rgb(153, 152, 152);
    width: 70%;
    height: 5%;
    margin-left: 10px;
    border-radius: 30px;
}
div.progress-bar {
    background-image: linear-gradient(#4879F8, #3F41D3);
    width: 0%;
    height: 100%;
    border-radius: 30px;
    
}
#skill-context {
    height: 60%;
    font-family:'Nunito', sans-serif;
    font-size: 1.5rem;
    padding: 10px;
    overflow-y:auto;
    overflow-x: hidden;
}
#skill-context::-webkit-scrollbar {
    width: 10px;
}

/*----------------------------------------------------About me---------------------------------------------------------------*/
#about-me {
    margin-top: 30px;
    position: relative;
    min-height: 100vh;
    height: auto;
    width: auto;
}
#about-me-img {
    float: right;
    position: absolute;
    z-index: 10;
    margin-top: 10vh;
    /*margin-left: 43vw;*/
    padding-right: 15px;
    right: 1vw;
    /*left: 45vw;*/
}
#about-me-blob {
    float: right;
    position: absolute;
    z-index: 5;
    margin-top: 10vh;
    margin-left: 47%;
    height: 60%;
    width: 50%;
    padding: 0;
    /*margin-left: 43vw;*/
    /*object-fit: cover;
    /*object-position: 20% 10%;*/
    
    /*left: 45vw;*/
}
#about-me-heading {
    position: relative;
   /* display: flex;
    flex-wrap: nowrap;*/
    text-align: center;
    top: 2%;
    /*left: 50%;*/
    /*width: 95vw;*/
    margin: 0 auto;
    /*transform: translate(-50%, -50%);*/
    font-family: 'Nunito', sans-serif;
    font-size: 4rem;
}
div.about-me-context {
    font-family: 'Nunito', sans-serif;
    font-size: 1.3rem;
    position: absolute;
    top: 18%;
    left: 5vw;
    height: 65vh;
    width: 40vw;
    padding-left: 20px;
    padding-right: 20px;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 15px;
    overflow-y: scroll;
    z-index: 30;
}
#krish {
    font-size: 3rem;
    margin: 0;
}


/* ------------------------------------------------media queries-----------------------------------------------------------*/

@media all and (max-width: 320px) {
    #hello-text {
        margin-top: 25px;
        /*top: 15%;*/
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
@media all and (max-width: 420px) {
    #contact-button-box {
      visibility: hidden;
    }
  }

@media all and (max-width: 920px) {
    div.skill-row {
   /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);*/
    padding: 0;
    max-width: 100vw;  
    width: 100vw;
    margin-left: 0;
    flex-wrap: wrap;
    }
    #skill-name-box {
        margin-top: 25vh;
    }
    div.skill-info-popover {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        /*margin-right: auto;
        margin-left: auto;*/
        width: 70vw;
    }
    span.my-resume {
        width: 100vw;
        margin-left: 0;
        margin-top: 25px;
    }  
    
  }

@media all and (max-width: 450px) {
    #skill-blob {
    width: 90%;
    height: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-left: 0;
    }
    #skill-img {
        width: 65%;
        height: 65%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-left: 0;
    }
  }

@media all and (max-width: 350px) {
    p.my-skills {
        font-size: 1.2rem;
    }
  }

/*------------------------------------------------------keyframes------------------------------------------------------*/

@keyframes wave-it {
    0% {
        transform: rotate(0deg);
        transform-origin: bottom;
    }
    25% {
        transform: rotate(20deg);
        transform-origin: bottom;
    }
    75% {
        transform: rotate(-20deg);
        transform-origin: bottom;
    }
    100% {
        transform: rotate(0deg);
        transform-origin: bottom;
    }
}


/*@keyframes scale {
    0% {
        transform: scale(0, 0);
        visibility: hidden;
    }
    100% {
        transform: scale(1, 1);
        visibility: visible;
    }
}*/
