html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
body {
    background:#E6E8F0;
    margin: 0;
    padding: 0;
}
.material-icons-round {
    font-family: "Material Icons";
    font-size: 36px;
}


.ocean {
    font-family: 'Nunito', sans-serif;
    
    top: 0;
    left: 0;
    position: relative;
    /*background:;*/
    height: fit-content;
    width: 100%;
    margin: 0;
    
    padding-bottom: 70px;
    /*z-index: 1;*/
    overflow: hidden;
}

div.ocean nav {
    position:fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content:space-around;
    background:#f8f9fc;
    z-index: 100;
    box-shadow: 0px 4px 15px 0px rgba(128, 128, 128, 0.185);
    
}
div.nav-button {
    display: flex;
    flex-direction: column;
    
    font-family: 'Nunito', sans-serif;
    font-size: 1em;
    margin-left: 8px;
    margin-right: 8px;
   /* font-size: 2.3rem;
    padding: 10px;*/
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 8px;
    padding-right: 8px;
    transition-property: transform, margin, color, background;
    transition-duration: 0.3s;
    cursor: pointer;
}
div.nav-button span {
    font-family: 'Material Icons';
    font-size: 28px;
    margin: 0 auto;
    margin-top: 5px;
}

div.nav-button:focus {
    border: none;
    color: white;
    background: #273dff;
    outline: none;
    
}
div.ocean a {
    /*vertical-align: middle;*/
    padding-bottom: 5px;
    text-decoration: none;
    color: rgb(0, 0, 0);
}
img.icons {
    margin: 0 auto;
    /*padding-left: 10px;*/
    padding-top: 10px;
    color: hotpink;
    width: 22px;
    height: 22px;
}

.waves {
    height: 65%;
    position: absolute;
    /*filter: drop-shadow(-25px 0px 7px 0px rgba(0, 0, 0, 0.425));
    -webkit-filter: drop-shadow(-12px 2px 25px rgba(0, 0, 0, 0.164));*/
    right: -40vw;
    bottom: 6vh;
    animation-name: wavez;
    animation-duration: 15s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    transition-property: transform;
    transition-duration: 5s;
    
    
}

#wave5 {
    width: 110%;
    height: 65%;
    /*filter: drop-shadow(-25px 0px 7px 0px rgba(0, 0, 0, 0.425));
    -webkit-filter: drop-shadow(-12px 2px 0px rgba(0, 0, 0, 0));*/
    z-index: 1;
    animation-delay: 5s;
    animation-iteration-count: infinite;
}
#wave4 {
    width: 90%;
    height: 65%;
    z-index: 2;
    animation-delay: 4s;
    animation-iteration-count: infinite;
}
#wave3 {
    width: 80%;
    height: 65%;
    z-index: 3;

    animation-delay: 3s;
    animation-iteration-count: infinite;
}
#wave2 {
    width: 70%;
    z-index: 4;

    animation-delay: 2s;
    animation-iteration-count: infinite;
}
#wave1 {
    width: 60%;
    z-index: 5;

    animation-delay: 1s;
    animation-iteration-count: infinite;
}
div.landing-page-container {
    height: 100vh;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
   /*align-items: center;*/
}
div.landing-text-container {
    position: relative;
    /*height: 55vh;*/
    width: 100%;
    /*display: flex;*/
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#avatar {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    max-width: 140px;
    /*height: 20%;*/
    z-index: 20;
}
div.landing-text {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    text-align: center;
    justify-content: center;
    /*background: rgba(255, 255, 255, 0.7);*/
    max-width: 480px;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    
    background: #f8f9fc;
    border-radius: 10px;
    box-shadow: 0px 20px 30px 0px rgba(0, 0, 0, 0.199), 0px 2px 0px 0px rgb(185, 185, 185);
    
    margin: 20px;
    margin-top: 80px;
    z-index: 10;
}
#my-name {
    font-size: 3em;
    line-height: 1.1em;
    margin: 0;
    padding-top: 40px;
    
}
#my_desc {
    font-size: 1.4em;
    color: rgb(107, 107, 107);
    padding: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    margin: 0;
    text-align: center;
}
div.floating-container {
    position: relative;
    display: flex;
    /*bottom: 20px;*/
    flex-wrap: wrap;
    /*height: 45%;*/
   
    max-width: 480px;
    margin: 20px;
    margin-top: 0;
    justify-content: space-between;
    align-content:flex-end;
    text-align: center;
    z-index: 20;
}
div.floating-box {
    position: relative;
    background: #f8f9fc;
    border-radius: 10px;
    height: fit-content;
    width: 38%;
    /*min-width: 60px;*/
    box-shadow: 0px 20px 30px 0px rgba(0, 0, 0, 0.199), 0px 2px 0px 0px rgb(185, 185, 185);
    padding: 10px;
    margin: 5px;
    /*animation-name: up-down;*/
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    z-index: 20;
}
div.floating-box img {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 0;
}
div.floating-box p {
    position: relative;
    margin: 0;
    text-shadow: 2px 2px 15px rgba(0, 0, 0, 0.308);
    z-index: 5;
}
div.floating-box span {
    text-shadow: 2px 2px 15px rgba(0, 0, 0, 0.219);
    position: relative;
    margin: 0;
    z-index: 5;
}
#physics-box {
    color: green;
    align-self: flex-start;
    /*margin: 0 auto;*/
    min-width: 80px;
    width: 100%;
    height: fit-content;
    /*flex-grow: 3;*/
    animation-delay: 0s;
    
}
#code-box {
    color: rgb(209, 171, 0);
    animation-timing-function: ease-in-out;
    /*animation-name: code-float;*/
    animation-delay: 0.5s;
}
#paint-box {
    color: #008fac;
    align-self: flex-start;
    animation-timing-function: ease-in-out;
    /*animation-name: paint-float;*/
    animation-delay: 0.2s;
}






#my-desc {
    display: inline;
    flex-wrap: nowrap;
    position: absolute;
    font-family: 'Nunito', sans-serif;
    width: 280px;
    /*height: 500px;*/
    font-size: 1.3rem;
    margin-top: 0;
    z-index: 20;
}
#my-desc b {
    display: inline;
}


li.nav-box {
    list-style-type: none;
    margin: 10px;
    font-family: 'Nunito', sans-serif;
    font-size: 2rem;
    /*padding: 15px;*/
    display: inline;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 3px 5px 10px 0px rgba(0, 0, 0, 0.8);
    
    z-index: 30;
    /*-webkit-font-smoothing: antialiased;*/
}


/* ------------------------------------------skills page----------------------------------------------------------------*/

#skills {
    position: relative;
    width:auto;
    min-height:100vh ;
    height: auto;
    /*background: #91BEBA;*/
    margin-top: 30px;
    padding-bottom: 70px;
    overflow: hidden;
}
.page-heading {
    position: relative;
    text-align: center;
    margin: 0;
    
    font-family: 'Nunito', sans-serif;
    font-size: 4rem;
    color: rgb(0, 0, 0);
    z-index: 15;
}
div.box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    
    height: 20%;
    width: 100%;
    
    
    border-radius: 5px;
    /*background: mediumvioletred;*/
    background-image: linear-gradient(to right, #f09bb3, #ddbfeb);
    /*background-image: url("heading-bg.png");*/
    z-index: 10;
}
#round-bottom {
    position: relative;
    height: 50px;
    width: 100vw;
    background: #e7e7f0;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    align-self: flex-end;
}
#skill-blob {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 80%;
    height: 80%;
    /*top: 8vh;
    margin-left: -8vw;
    left: -15vw;*/
    z-index: 5;
}
#skill-img {  
    display: none;
    position: absolute;
    margin-left: 2vw;
    /*top: 20%;*/
    left: 0;
    z-index: 10;
}
div.skill-row1 {
    
    margin: 0 auto;
   /*width: 80%;
    padding-bottom: 20px;
    padding-right: 100px;
    /*margin-top: 10%;*/
    height: 40vhpx;
    max-width: 488px;
    /*margin-right: 30px;*/
    display: flex;
    /*background-image: linear-gradient(#feffef, #ffe7f1);*/
    /*height: 50vh;*/
    justify-content: center;
    align-items:flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    /*flex-shrink: 3;*/
    /*justify-content: center;*/
    padding: 8px;
    background: #e7e7f0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    font-family: 'Nunito', sans-serif;
    
    z-index: 40;
    
}


div.skill-row {
    position: relative;
    top: 15vh;
   /*width: 80%;
    padding-bottom: 20px;
    padding-right: 100px;
    /*margin-top: 10%;*/
    max-height: 50vh;
    max-width:488px;
    /*margin-right: 30px;*/
    display: flex;
    /*background-image: linear-gradient(#feffef, #ffe7f1);*/
    /*height: 50vh;*/
    justify-content: center;
    align-items:flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    /*flex-shrink: 3;*/
    /*justify-content: center;*/
    padding-top: 15px;
    background: #e7e7f0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    font-family: 'Nunito', sans-serif;
    
    z-index: 40;
    
}


p.my-skills {
   /*+ width: fit-content;*/
   height: fit-content;
    margin-bottom: 5px;
    margin-top: 8px;
    margin-left: 8px;
    margin-right: 8px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    border: solid 3px black;
    background: rgb(255, 255, 255);
    font-size: 1.2em;
    cursor: pointer;
}
#btn-container {
    position: relative;
    bottom: 0;
    margin-top: 30px;
    width: 100%;
}
input.cv-btn {
    display: block;
    margin: 0 auto;
    background: rgb(5, 189, 5);
    color: white;
    font-family: 'Nunito', sans-serif;
    font-size: 1.3em;
    border: none;
    border-radius: 10px;
    padding: 12px;
    
    box-shadow: 0px 5px 0px 0px green;
    transition-property: transform;
}
input.cv-btn:hover {
    cursor: pointer;
}
input.cv-btn:active{
    outline: none;
}
input.cv-btn:focus{
    transform: translatey(5px);
    box-shadow: 0px 2px 0px 0px green;
    outline: none;
}


div.skill-info-popover {
    position: absolute;
    /*width: 30vw;*/
    max-width: 450px;
    min-width: 70vw;
    height: 65vh;
    max-height: 500px;
    margin-left: 20px;
    margin-right: 20px;
    top: 20vh;
    left: 0;
    right: 0;
    border-radius: 20px;
    background: #f8f9fc;
    box-shadow: 0px 20px 30px 0px rgba(0, 0, 0, 0.274), 0px 2px 0px 0px rgb(185, 185, 185);
    z-index: 40;
    display: none;
    
}
p.my-skills:active div.skill-info-popover {
    visibility: visible;
}
div.skill-info-popover img {
    /*float: right;*/
    position: absolute;
    /*left: 87%;*/
    right: 15px;
    top: 2%;
    cursor: pointer;
}
#popover-heading {
    font-family:'Nunito', sans-serif;
    font-size: 2rem;
    /*margin-left: auto;
    margin-right: auto;*/
    text-align: center;
}
#skill-level {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}
div.progress-box {
    background: rgba(177, 173, 173, 0.8);
    box-shadow: inset 0 0 10px rgb(153, 152, 152);
    width: 70%;
    height: 20px;
    
    border-radius: 30px;
}
div.progress-bar {
    background-image: linear-gradient(#4879F8, #3F41D3);
    width: 0%;
    height: 100%;
    border-radius: 30px;
    
}
#level {
    font-family:'Nunito', sans-serif;
    font-size: 1.1em;
    width: fit-content;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.26);
    /*margin-left: 25px;*/
}
#skill-context {
    height: 50%;
    font-family:'Nunito', sans-serif;
    font-size: 1.5rem;
    padding: 10px;
    overflow-y:auto;
    overflow-x: hidden;
}
#skill-context::-webkit-scrollbar {
    background: #0000001a;
    width: 10px;
    border-radius: 8px;
}
#skill-context::-webkit-scrollbar-thumb {
    background: #4879F8;
    width: 10px;
    border-radius: 10px;
}
/*#skill-context::-webkit-scrollbar {
    width: 10px;
}*/

/*----------------------------------------------------About me---------------------------------------------------------------*/
#about-me {
    
    position: relative;
    min-height: 100vh;
    height: fit-content;
    padding-bottom: 70px;
    
    width: auto;
}
#about-me-img {
    display: none;
    float: right;
    position: absolute;
    z-index: 10;
   
    /*margin-left: 43vw;*/
    padding-right: 15px;
    right: 1vw;
    height: 45%;
    width: 45%;
    /*left: 45vw;*/
}

#about-me-heading {
    position: relative;
    text-align: center;
    margin: 0;
    margin-bottom: 20px;
    font-family: 'Nunito', sans-serif;
    font-size: 4rem;
    color: rgb(0, 0, 0);
    z-index: 15;
    /*position: relative;
   /* display: flex;
    flex-wrap: nowrap;
    text-align: center;
    top: 2%;
    /*left: 50%;*/
    /*width: 95vw;
    margin: 0 auto;
    transform: translate(-50%, -50%);
    font-family: 'Nunito', sans-serif;
    font-size: 4rem;*/
}
div.about-me-context {
    font-family: 'Nunito', sans-serif;
    
    font-size: 1.4em;
    padding: 8px;
}
.about-me-context::-webkit-scrollbar {
    background: #0000001a;
    width: 10px;
    border-radius: 8px;
}
.about-me-context::-webkit-scrollbar-thumb {
    background: #4879F8;
    width: 10px;
    border-radius: 10px;
}
/*------------------------------------------------contact-------------------------------------------------------------------*/
#contact {
    position: relative;
    min-height: 100vh;
    height: fit-content;
    margin-top: 50px;
    width: auto;
}
#contact-heading {
    position: relative;
    text-align: center;
    margin: 0;
    margin-bottom: 20px;
    font-family: 'Nunito', sans-serif;
    font-size: 4rem;
    color: rgb(0, 0, 0);
    z-index: 15;
}
div.contact-container-main {
    display: flex;
    position: relative;
    height: 80vh;
    
    
    background: #e7e7f0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    /*z-index: 30;*/
}
div.contact-container {
    position: relative;
    margin: 0 auto;
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    width: fit-content;
    z-index: 65;
}
div.contact-box {
    position: relative;
    width: 180px;
    min-width: fit-content;
    height: 50px;
    min-height: fit-content;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    border-radius: 10px;
    background: #f8f9fc;
    margin: 7px;
    padding: 5px;
    border: solid 3px black;
    font-family: "Nunito";
    font-size: 1.5em;
    cursor: pointer;
    z-index: 70;
}
div.contact-box img {
    height: 30px;
    width: 30px;
    padding: 5px;
}
div.contact-box p {
    margin: 0;
    padding: 10px;
}
#contact-img {
    position: absolute;
    height: 45vh;
    width: 90vw;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 35px;
    z-index: 30;
}
div.contact-container a {
    color: black;
    text-decoration: none;
}

/* ------------------------------------------------media queries-----------------------------------------------------------*/
@media all and (orientation:landscape) and (max-height:550px) {
    
   div.landing-page-container {
       flex-direction: row;
       align-items: center;
       justify-content: space-evenly;
   }
   div.landing-text-container {
       width: 45%;
       

   }
    div.landing-text {
       margin: 0 ;
       margin-top: 80px;

    }
    div.floating-container {
        height: 270px;
        margin: 0 ;
        width: 45%;
        
        
    }
    div.box{
        background-image: none;
    }
    #round-bottom {
        height: 0;
    }
    div.skill-row1 {
        margin: 0 auto;
        background: none;
    }
    #skill-context {
        height: 30%;
    }
    /*div.contact-container-main {
        height: auto;
    }*/
    div.contact-container {
        flex-direction: row;
    }
    div.skill-info-popover {
        margin: 0 auto;
    }
}
@media all and (min-width:526px) and (min-height:550px){
    div.landing-text {
        margin: 0 auto;
        margin-top: 80px;
    }
    div.floating-container {
        margin: 0 auto;
        margin-top: 20px;
        width: 480px;
    }
    div.skill-info-popover {
        margin: 0 auto;
    }
}
@media all and (orientation:portrait) and (min-width:526px) {
    div.landing-text {
        margin: 0 auto;
        margin-top: 80px;
    }
    div.floating-container {
        margin: 0 auto;
        margin-top: 20px;
        width: 480px;
    }
    div.skill-row2 {
        display: block;
        height: 5vh;
    }
    div.skill-row1 {
        margin: 0 auto;
    }
    p.my-skills {
        font-size: 1.7em;
    }
}
@media all and (orientation:landscape) and (min-width:1023px) {
    .ocean {
        min-height: auto;
    }
    #skills {
        padding-top: 70px;
        min-height: auto;
    }
    #about-me {
        padding-top: 70px;
        min-height: auto;
    }
    #contact {
        padding-top: 70px;
        min-height: auto;
    }
    div.ocean nav {
        top: 0;
        bottom: none;
        height: fit-content;
        justify-content: flex-end;
    }
    div.nav-button {
        flex-direction: row;
        align-items: center;
        font-size: 1.5em;
    }
    div.nav-button span {
        margin: 0;
        padding: 5px;
    }
    div.landing-text {
        margin: 0 auto;
        margin-top: 80px;
    }
    div.floating-container {
        margin: 0 auto;
        margin-top: 20px;
        width: 480px;
    }
    div.box {
        background-image: none;
    }
    #round-bottom {
        height: 0;
    }
    div.skill-row1 {
        background: none;
        float: right;
        margin-left: 45%;
        margin-right: 5%;
        font-size: 1.5em;
        margin-bottom: 20px;
    }
    
    #skill-img {
        
        margin-left: 5vw;
        display: block;
        height: fit-content;
        width: 35%;
    }
    #btn-container {
        display: flex;
        justify-content: center;
        float: right;
        align-items: center;
        margin-right: 5%;
        width: 488px;
    }
    
    
    div.skill-info-popover {
        top: 25%;
        width: 45%;
        min-width:auto;
        max-height: 400px;
        margin-left: 5vw;
    }
    div.about-me-context {
        position: relative;
        margin-top: 30px;
        margin-right: 20px;
        width: 45%;
        max-height: 400px;
        overflow-y: auto;
        height: 10%;
        background: white;
        border-radius: 15px;
        border: solid 3px black;
        left: 50px;
    }
    div.about-me-context p {
        height: 30%;
    }
    
    #about-me-img {
        display: block;
        right: 5vw;
        height: fit-content;
        width: 35%;
        padding: 0;
    }
}



/*------------------------------------------------------keyframes------------------------------------------------------*/

@keyframes wave-it {
    0% {
        transform: rotate(0deg);
        transform-origin: bottom;
    }
    25% {
        transform: rotate(20deg);
        transform-origin: bottom;
    }
    75% {
        transform: rotate(-20deg);
        transform-origin: bottom;
    }
    100% {
        transform: rotate(0deg);
        transform-origin: bottom;
    }
}


@keyframes wavez {
    0% {
        transform: scale(1,1);
    }
    50% {
        transform: scale(2,1.5);
    }
    100% {
        transform: scale(1,1);
    }
}


/*@keyframes scale {
    0% {
        transform: scale(0, 0);
        visibility: hidden;
    }
    100% {
        transform: scale(1, 1);
        visibility: visible;
    }
}*/
